@import "components/variables_general.scss";
@import "components/mixins_general.scss";
@import "components/custom_reset.scss";
@import "components/collected_reset_and_general_improvement_wisdom.scss";
@import "components/typography.scss";
@import "components/responsive_prep.scss";
@import "components/buttons.scss";
    // Bring formcore back in wholesale if we want to, or gradually
    // @import "components/formcore.scss";
@import "components/forms.scss";
@import "components/list_utils.scss";
@import "components/tables.scss";
@import "components/tabs.scss";
@import "components/code.scss";
@import "components/skip_links.scss";
@import "components/aspect_ratio.scss";
@import "components/svg_link_icons.scss";
@import "components/media_objects.scss";
@import "components/breakout.scss";

// Note: there are a few additional imports at the end of this file, too. (houdini show-and-hide, print CSS, layout-enhanced/grid, cookie consent).

//

body {
  //margin: 0 $space-s;
}

#global-header,
#primary-content,
#global-footer {
  //padding: 0 $min-acceptable-gutter_in_vw+vw;
}

main {
  // ideal min-width: $text-measure-min-in-ems+em;
  max-width: $text-measure-max-in-ems+em;
  margin: 0 auto;
  padding: 0 $space-s;
  @include at-least($bp-wide-one) {
    padding: 0;
  }
}




#global-footer {
  background: #333;
  color: #fff;
  padding: 0 $space-s;

  a:link,
  a:visited {
    color: #fff;
  }

  @include at-least($bp-wide-one) {
    // Lea Verou’s "fluid background, fixed content" (i.e. full-width background)
    // Note this solves a different problem than our "breakout.scss" utility.
    // With breakout we’re starting in a centred fixed width column and need to break out to full width.
    // With this, we’re starting at full width and need to centre the content at the same width as our <main> content.
    padding: 0 $space-s;
    padding: 0 calc(50% - #{$text-measure-max-in-ems/2+em}); // where the second part of the calc is half of the target width for your inner content
    // End Lea
  }


}









// Houdini for disclosure elements including dropdowns
@import "components/houdini.scss";

// Enhance our basic layout using CSS grid.
@import "components/layout_enhanced.scss";

// Cookie consent: we need it by law.
@import "components/cookieconsent2_3.1.0.min.scss";

// Print styles
@import "components/print.scss";
