// Maintaining image/video/etc aspect ratio in responsive context
// Works by putting a wrapping div around the image/media then styling that wrapper to preserve the target aspect ratio.

/**
 * credit Andy Bell https://andy-bell.design/wrote/creating-an-aspect-ratio-css-utility/
 * ASPECT RATIO
 * A utility that provides you with a predictable aspect ratio
 *
 * ratio-wide: a 16:9 aspect
 * ratio-square: a perfect square
 */
[class*='aspect-ratio-'] {
  display: block;
  position: relative;
}

[class*='aspect-ratio-'] > * {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.aspect-ratio-wide {
  padding-top: 56.25%;
}

.aspect-ratio-square {
  padding-top: 100%;
}

// .gallery styles are just for the grid/list based .aspect-ratio-square demo and are not part of the above ASPECT RATIO utility
// so might want to remove the following or move into "plugin" component
// Although note that the object-fit: cover is important when (as per the demo) we’re taking images of variable size and aspect ratio and making them look OK as a square.

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  grid-gap: 0.4rem;
  // LH additions
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.gallery img {
  object-fit: cover;
}
