// start with basic inline code element i.e. could appear within the running text of a paragraph or heading

// Code elements can (dependent on typeface) tend to look a bit small hence 1.2em.
// Tweak as/if appropriate.
// Note: using ems so that our tweaked size scales up whether in a <p> or <h1>
code {
  color: $color-complimentary;
  font-size: 1.27em; // an improvement, a sweet spot, and also below the threshold at which it negatively impacts the overall line-height.
  hyphens: none;
  //padding: 0 .25em;
  line-height: normal;
}
