// start with basic inline code element i.e. could appear within the running text of a paragraph or heading
// Code elements can (dependent on typeface) tend to look a bit small hence we increase.
// Tweak as/if appropriate.
// Note: using ems so that our tweaked size scales up whether in a <p> or <h1>
code {
  // normalize.css goodness
  font-family: monospace, monospace;
  // end normalize.css goodness

  // decided that this is not better but this could change if we’re using different body or code fonts.
  // font-size: 1.025em;

  color: $color-complimentary;
  hyphens: none;
  line-height: normal;
}
