// start with basic inline code element i.e. could appear within the running text of a paragraph or heading
// Note: using ems so that any tweaked font-size scales up whether in a <p> or <h1>
// Note 2: nice style treatments could be:
// - bold and coloured per https://andy-bell.design/wrote/keep-it-simple/; or
// - regular, normal-coloured, on coloured background like on https://css-tricks.com/what-if-we-got-aspect-ratio-sized-images-by-doing-almost-nothing/

code {

  color: $color-complimentary;

  // normalize.css – if we’re using default monospace, use this hack to avoid browser weirdness with regard to font-sizing.
  font-family: monospace, monospace;

  // With some code fonts, we might want to enlarge.
  font-size: 1.025em;

  font-weight: 700;
  hyphens: none;
}


// <pre>-based code snippets

pre {
    background: #fafafa;
    border: 1px dotted #aaa;
    color: #111;
    font-size: scale-value(-1)+rem;
    padding: 1em;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

pre code {
    font-size: scale-value(-1)+rem;
    font-weight: 400;
    color: #111;
}

