@supports (display: grid) {

  // https://css-tricks.com/couple-takes-sticky-footer/
  // Position the footer at the bottom of the page when there is very little content.
  // Note: we use 100% rather than 100vh because with VH, mobile OS will overlay a toolbar over the bottom part of the viewport and thus over the footer.
  html {
    height: 100%;
  }

  body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto; // based on header + content + footer.
  }
  // End positioning footer

}
