@supports (display: grid) {

  // Position the footer at the bottom of the page even when there is very little content.
  // https://css-tricks.com/couple-takes-sticky-footer/
  // Note: we use 100% rather than 100vh because with VH, mobile OS will overlay a toolbar over the bottom part of the viewport and thus over the footer.

  // apply this class to the <html> element
  .rooted-footer {
    height: 100%;
  }

  .rooted-footer body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto; // based on header + content + footer.
  }

  // Fix issue of <pre><code> extending beyond the boundaries of <main> in a grid context, even when using white-space: pre-wrap; and word-wrap: break-word;
  .rooted-footer main {
    min-width: 0;
  }

}
