///////////////////////////////////
// Colour
///////////////////////////////////

$selected-text-background: rgba(82,32,85,.25);
$text-color: rgb(18,18,18); // like the Guardian // alternatively rgb(34,34,34) i.e. #222, not quite black.
$color-accent: hsl(8, 62%, 58%);
$color-complimentary: hsl(166, 19%, 32%);
$color-light: hsl(0, 0%, 95%);
$border-color: hsl(0, 0%, 95%);

// add alert colours from bootstrap here
// https://getbootstrap.com/docs/4.0/components/alerts/




///////////////////////////////////
// Rounded Corners
///////////////////////////////////

$global-border-radius: 4px;
