// Chosen Typeface(s)

$base-font-family: Helvetica Neue,sans-serif;
$base-font-family-loaded: Source Sans Pro,Helvetica Neue,sans-serif;

$alt-font-family: serif;
$alt-font-family-loaded: Source Serif Pro, serif;



// @font-face declarations (if self-hosting)

@font-face {
  font-family: Source Sans Pro;
  src: url(/assets/type/SourceSansPro-LightIt.ttf.woff2) format("woff2"),
       url(/assets/type/SourceSansPro-LightIt.ttf.woff) format("woff"),
       url(/assets/type/SourceSansPro-LightIt.otf) format("opentype");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Source Sans Pro;
  src: url(/assets/type/SourceSansPro-Light.ttf.woff2) format("woff2"),
       url(/assets/type/SourceSansPro-Light.ttf.woff) format("woff"),
       url(/assets/type/SourceSansPro-Light.otf) format("opentype");
  font-display: swap;
}

@font-face {
  font-family: Source Sans Pro;
  src: url(/assets/type/SourceSansPro-SemiBold.ttf.woff2) format("woff2"),
       url(/assets/type/SourceSansPro-SemiBold.ttf.woff) format("woff"),
       url(/assets/type/SourceSansPro-SemiBold.otf) format("opentype");
  font-weight:700;
  font-display: swap;
}

@font-face {
  font-family: Source Serif Pro;
  src: url(/assets/type/SourceSerifPro-Regular.ttf.woff2) format("woff2"),
       url(/assets/type/SourceSerifPro-Regular.ttf.woff) format("woff"),
       url(/assets/type/SourceSerifPro-Regular.otf) format("opentype");
  font-weight: 500;
  font-display: swap;
}



:root {
  font-size: 100%;
}



//body{
//  font-family:Helvetica Neue,sans-serif;background:#fff;margin:0;color:#222
//}

//.fonts-loaded body{
body {
  font-family: $base-font-family-loaded;
}

// Small Text (captions, labels, help text, or for use when screen real estate is limited, as in banner ads. But small text involves more than simply reducing the font size.)
// Body Text
// Featured Text
// Display Text (top-level headings, hero text, and logotype lockups)
// Signage & UI (website navigation, footers full of links, labels in a grid of products, previous and next links, buttons, and strong calls to action)
// Tabular Data
// Technical Accuracy (In code, symbols and their sequence are critical. The same goes for math, which can include complex glyph placement. Poetry, screenplays, and infographics)
// Ads

h1,
h2,
h3 {
  font-family: $alt-font-family-loaded;
  font-weight: 500;
}
