// Set font-size on the parent .profile component.
// Use ems rather than rems to size the child .profile__heading and .profile__image elements.
// Now, if we change the font-size of the parent (for example by adding a modifier class)
// ...both of the inner elements scale up and maintain their relative size in the component.

 .profile {
  font-size: 3rem;
  display: flex;
  align-items: center;
}

.profile--large {
  font-size: 5rem;
}

.profile > * + * {
   margin-left: 0.5em;
}

.profile__heading {
  font-size: 0.5em;
  line-height: 1.1;
}

.profile__image {
  width: 1.5em;
  height: 1.5em;
  object-fit: cover;
  border-radius: 999px;
  flex-shrink: 0;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.user {
  max-width: 75ch;
}

.user > * + * {
  margin-top: 1em;
}
